<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
    <meta content='maximum-scale=1.0, initial-scale=1.0, width=device-width' name='viewport'>
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>Mission to Mars</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<style>
		.container {
		  width: 940px;
		  .center-block();
		}
	</style>
</head>
<body>
	<div class="container">
		
		<div class="jumbotron text-center">
			 <h1>Mission to Mars</h1>
		     <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>		
   		</div>
   		<div class="col-md-12">
   			<h3 class="text-center">
   				This is a responsive website styled in BootStrap composed of data scraped from the NASA website.  Press the button above to scrape new data.
   			</h3>
   		</div>
   		<!-- Mars News -->
   		<div class="row" id="mars-news">
   			<div class="col-md-12">
   				<div class="media">
			        <div class="media-body">
			        	<div class="jumbotron text-center">
			        		<h2 class="text-center">Latest Mars News</h2>
			        	</div>
			        	<h4 class="media-heading text-center">{{mars.news_title}}</h4>
			        	<p class="text-center">{{ mars.news_paragraph }}</p>
			        </div>
			    </div>
    		</div>
		</div>
		<!-- Featured Image -->
		<div class="row" id="mars-featured-image">
			<div class="col-md-16">
				<div class="jumbotron text-center">
					<h2>Featured Mars Image</h2>
				</div>
				<img src="{{ mars.featured_image }}" class="img-responsive img-rounded center-block" alt="Responsive image"><br /><br />
			</div>
		</div>
		<!-- Mars Facts -->
		<div class="col-md-16">
			<div class="row" id="mars-facts">
				<div class="jumbotron text-center">
					<h2 class="text-center">Mars Facts</h2>
				</div>
				{{ mars.facts | safe }}<br /> <br />
			</div>
		</div>	
		
		<!-- Mars Hemisphere -->
		<div class="row" id="mars-hemisphere-title">
			<div class="jumbotron text-center">
				<h2 class="text-center">Mars Hemispheres</h2>
			</div>
			{% for hemisphere in mars.hemisphere_data %}
				<div class="col-md-6">	
					<figure class="figure">
						<img src="{{ hemisphere.img_url }}" class="figure-img img-reponsive img-thumbnail img-rounded" alt="Responsive image">
						<figcaption class="figure-caption text-center">{{ hemisphere.title }}</figcaption>
					</figure>
				</div>
			{% endfor %}
		</div>
	</div>
</body>
</html>